﻿@using geneeditor.Entities;
@using geneeditor.Controllers;

<style>
    .Main {
        display: none;
    }
</style>
<div class="black"></div>

<div class="container Main">

    <div class="col- Main_empty"></div>

    <div class="col- Main_text d-flex justify-content-center">
        <h1>
            <span class="Main_text_1">C</span><span class="Main_text_2">R</span><span class="Main_text_3">I</span><span
                class="Main_text_4">S</span><span class="Main_text_5">P</span><span class="Main_text_6">R</span><span
                class="Main_text_7"> / </span><span class="Main_text_8">C</span><span class="Main_text_9">a</span><span
                class="Main_text_10">s</span>
        </h1>
    </div>


    <div class="col- Main_form d-flex justify-content-center">
        <form action="/Home/Contact" class="col row d-flex justify-content-center">

            <input class="Main_form_input_contact clik" name="searchString" type="search"
                placeholder="Ведите данные: Pam, Cas, Bacterium, specer">

            <div class="w-100"></div>

            <div class="col- d-flex justify-content-center">
                <input class="Main_form_button clik2" type="submit" value="Поиск в Базе">
                <input class="Main_form_button Main_form_button2 clik3" value="Мне повезёт">
            </div>

            <div class="w-100"></div>

            <div class="col- row d-flex justify-content-center Main_form_button__Type">
                <input class="col- Main_form_button__type" name="searchType" value="Тип" readonly>
                <p class="col- M"></p>

            </div>

        </form>
    </div>

    <div class="d-flex justify-content-center">
        <div class="Main_form_button__type_Open">
            <p class="Main_form_button__type_Open_In">Pam</p>
            <p class="Main_form_button__type_Open_In">Cas</p>
            <p class="Main_form_button__type_Open_In">Bac</p>
            <p class="Main_form_button__type_Open_In">Specer</p>
        </div>
    </div>




</div>


<div class="alert alert-warning">Водите данные внимательно! Учитываються все пробелы, если вы допустите даже одну
    ошибку, вы можете не получить данные!</div>

<div class="instr">
    <div class="instr_card">

        <div class="instr_card_">
            <div class="up row">
                <p class="col mr-auto">1.Приветствие</p>
                <p class="col-auto">&#9661;</p>
            </div>
            <p>Здравствуйте, рады приветствовать на нашем сайте! Мы сейчас хотели бы ознакомить вас с работай нашего
                сайта, что бы вам в будущем легче было находить информацию. Для продолжения нажмите на экран, или на
                кнопку "Далее".</p>
        </div>

        <div class="instr_card_">
            <div class="up row">
                <p class="col mr-auto">2.Что же такое CRISPR / CAS?</p>
                <p class="col-auto">&#9661;</p>
            </div>
            <p>CRISPR/Cas9 — это новая технология редактирования геномов высших организмов, базирующаяся на иммунной
                системе бактерий.</p>
            <hr>
            <p>Для большей информаций обратитесь к интернету.</p>
        </div>

    </div>
</div>

<div class="alert alert-warning" role="alert">
    Поиск по PAM-у может занимать много времени, особенно если вы вводите только его часть, которая может быть
    комплементарна разным PAM-ам!
</div>



<script src="~/js/site.js"></script>